<!-- Cabeçalho Principal -->
<%- include('partials/header') %>

<!-- Conteudo do index -->
<main>
    <h1>Essa página não existe.</h1>
    <img src="https://tse3.mm.bing.net/th/id/OIP.VzBHhHz1W1ye2XL5TYfwjAHaFz?rs=1&pid=ImgDetMain&o=7&rm=3" alt="" style= "margin-left: 500px;">
    <br>
    <a href="/home">Clique aqui para ir para home.</a>
</main>

<!-- Rodape de todas as páginas -->
<%- include('partials/footer') %>