<!-- Cabeçalho Principal -->
<%- include('../partials/header') %>

<!-- Conteudo do index -->
<main>
<h1>Lista de usuários</h1>
</main>

<!-- Rodape de todas as páginas -->
<%- include('../partials/footer') %>